# Analyse

In [4]:
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv("results/res_29-11-24:13:31:51.csv")

In [10]:
data.head()

,Runs,Initial Sample,Query Sample,Pair,Error on materialized,Error on lattice,Prediction
0,0,0.1,0.1,"('VX', 'UA')",0.125000,0.222222,0.0
1,0,0.1,0.1,"('VX', 'NK')",0.400000,0.400000,0.0
2,0,0.1,0.1,"('AA', 'AS')",0.125000,0.222222,0.0
3,0,0.1,0.1,"('F9', 'DL')",0.875000,0.888889,0.0
4,0,0.1,0.1,"('F9', 'AS')",0.833333,0.833333,0.0

In [13]:
pivot = pd.pivot_table(data, values="Error on materialized", index=["Pair"], columns=['Initial Sample', 'Query Sample'], aggfunc="mean")
pivot

Initial Sample       0.1                                               \
Query Sample         0.1     0.2       0.3       0.4       0.5    0.6
Pair
('AA', 'AS')    0.041667  0.0625  0.000000  0.062500       NaN    NaN
('AA', 'B6')         NaN     NaN  0.000000       NaN       NaN    NaN
('AA', 'DL')    0.000000  0.0000  0.062500       NaN       NaN  0.125
('AA', 'EV')         NaN  0.0000       NaN       NaN       NaN  0.000
('AA', 'F9')         NaN     NaN  0.000000  0.000000  0.000000  0.000
...                  ...     ...       ...       ...       ...    ...
('WN', 'HA')    0.000000  0.0000       NaN  0.000000       NaN    NaN
('WN', 'MQ')         NaN  0.0000  0.000000  0.142857       NaN    NaN
('WN', 'NK')    0.000000  0.0000  0.041667       NaN  0.000000  0.000
('WN', 'OO')    0.857143     NaN  0.000000       NaN  0.071429  0.000
('WN', 'US')    0.875000  0.0625  0.062500       NaN  0.000000  0.000

Initial Sample                                     ...  1.0                 \
Query Sample         0.7       0.8       0.9  1.0  ...  0.1  0.2  0.3  0.4
Pair                                               ...
('AA', 'AS')    0.037500       NaN  0.000000  0.0  ...  0.0  0.0  0.0  0.0
('AA', 'B6')    0.000000  0.000000       NaN  NaN  ...  0.0  0.0  0.0  0.0
('AA', 'DL')    0.000000       NaN  0.000000  NaN  ...  NaN  NaN  NaN  NaN
('AA', 'EV')         NaN  0.000000       NaN  NaN  ...  NaN  NaN  NaN  NaN
('AA', 'F9')         NaN  0.000000  0.000000  0.0  ...  NaN  NaN  NaN  NaN
...                  ...       ...       ...  ...  ...  ...  ...  ...  ...
('WN', 'HA')    0.000000  0.000000  0.011111  NaN  ...  0.0  0.0  0.0  0.0
('WN', 'MQ')    0.035714  0.085714       NaN  0.0  ...  NaN  NaN  NaN  NaN
('WN', 'NK')    0.000000       NaN       NaN  0.0  ...  0.0  0.0  0.0  0.0
('WN', 'OO')    0.000000  0.000000  0.000000  0.0  ...  NaN  NaN  NaN  NaN
('WN', 'US')    0.062500  0.000000  0.005952  NaN  ...  0.0  0.0  0.0  0.0

Initial Sample
Query Sample    0.5  0.6  0.7  0.8  0.9  1.0
Pair
('AA', 'AS')    0.0  0.0  0.0  0.0  0.0  0.0
('AA', 'B6')    0.0  0.0  0.0  0.0  0.0  0.0
('AA', 'DL')    NaN  NaN  NaN  NaN  NaN  NaN
('AA', 'EV')    NaN  NaN  NaN  NaN  NaN  NaN
('AA', 'F9')    NaN  NaN  NaN  NaN  NaN  NaN
...             ...  ...  ...  ...  ...  ...
('WN', 'HA')    0.0  0.0  0.0  0.0  0.0  0.0
('WN', 'MQ')    NaN  NaN  NaN  NaN  NaN  NaN
('WN', 'NK')    0.0  0.0  0.0  0.0  0.0  0.0
('WN', 'OO')    NaN  NaN  NaN  NaN  NaN  NaN
('WN', 'US')    0.0  0.0  0.0  0.0  0.0  0.0

[90 rows x 100 columns]